extends ../layout.jade
block contenido
    h1(style="text-align:center;") Panel de administrador
    table(class="table")
        caption Productos Actuales
        thead
            tr
                th #
                th Nombre
                th Descripcion
                th Precio
                th Imagen
                th Acciones
        tbody
            each product in products
                tr
                    td= product.id
                    td= product.title
                    td= product.description
                    td= product.pricing
                    td
                        a(href="#{product.imageUrl}" class="btn") Ver Imagen
                    td 
                        a(href="/menu/edit/#{product.id}") Editar
                        =" - "
                        a(href="#") Eliminar
            
